APP_MODE=
APP_ENV=

APP_NAME=
API_DOMAIN=

SERVER_ADDRESS=
SERVER_PORT=

LOG_LEVEL=

DATABASE_URL=

REDIS_HOST=
REDIS_PORT=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
FRONTEND_ORIGIN=
COOKIE_DOMAIN=

SENTRY_ENABLED=
SENTRY_DSN=